<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

  <div class="bootstrap-iso">
	 <div class="cert-frame">

     <div class="row px-4 pt-5 pb-5">
       <div class="col-9 ">
         <p class="text-verify">${course_mode_class.capitalize()}<br>Certificate</p>
         <div class="text-content">
           ${certificate_id_number_title}: ${certificate_id_number}
         </div>
         % if cert_cpd_info:
          <div class="text-content">
             PTR: ${cert_cpd_info[0]['cpd_ptr']}
           </div>
         % endif
       </div>
       <div class="col-3 d-flex justify-content-end p-0 right ">
         <div class="logo-partner">
           <img src="/static/my-bootstrap/images/certificates/logo-${accomplishment_copy_course_org}.png" alt="Image for logo of course organization ${accomplishment_copy_course_org}">
         </div>
       </div>
     </div>

     <div class="row px-4 pb-4 mb-auto">

       <div class="col-9 ">
         <div class="row">
           <div class="col align-self-stretch">
             <p class="text-content">
               This is to certify that
             </p>
             <p class="text-content-name pt-4 pb-4">
               ${accomplishment_copy_name}
             </p>
             <p class="text-content">
               ${accomplishment_copy_description_full}
             </p>
             <p class="text-course">
               ${accomplishment_copy_course_org} ${course_number}: ${accomplishment_copy_course_name}
             </p>
             <p class="text-content">
               ${accomplishment_copy_course_description}
             </p>
            </div>
          </div>
        </div>

        <div class="col-3 justify-content-end right " style="right: -30px;">
          % if certificate_data:
            % for signatory in certificate_data.get('signatories', []):
              <div class="row justify-content-end">
                <div class="text-signature">
                  <div class="img-signature">
                    <img src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}">
                  </div>
                  <p>
                    <b>${signatory['name']}</b>
                    <br>
                    ${signatory['title']}
                    <br>
                    ${signatory['organization']}
                  </p>
                </div>
              </div>
              % endfor
            % endif
        </div>

      </div>

      <div class="row px-4 pb-4 mt-auto d-flex align-items-end cert-footer">
        <div class="col-3 p-0 mr-4 my-auto ">
          <img src="${logo_src}" alt="${platform_name}">
        </div>
        <div class="col-3 p-0">
          Professional Certificate<br>
          <b>${certificate_date_issued_title} ${certificate_date_issued}</b>
        </div>
        <div class="col p-0 ">
          % if cert_cpd_info:
            % for credential in cert_cpd_info:
            <div>
              PRC Reg. No. for ${credential['license']} License:<br>
              <b>${credential['registration_number']}</b>
            </div>
            % endfor
          % endif
        </div>
      </div>

    </div>
  </div>
