<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
          <a href="https://coursebank.ph">CourseBank</a> is powered by Open EdX&copy;.
        </p>

        <br>

        <div class="footer-about-openedx">
          <p>
            Read more about Open EdX:
            <a href="https://open.edx.org/">
              <img src="https://open.edx.org/sites/all/themes/edx_open/logo.png" alt="Link to Open EdX Site" width="140" />
            </a>
          </p>
        </div>

        <br>

        <div>
          <p>
            The Open edX® platform is a free and open source course management system that was originally developed by edX. The Open edX platform is used all over the world to host Massive Open Online Courses (MOOCs) as well as smaller classes and training modules.
          </p>
          <p>
            All use of the Open edX trademarks is subject to compliance with edX’s Trademark Policy. Read more about <a href="https://www.edx.org/sites/default/files/open-edx-trademark-guidelines-jan2018.pdf">Open EdX's policies here.</a>
          </p>
        </div>
    </section>
</main>
