<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
          <a href="https://coursebank.ph">CourseBank</a> is powered by Open EdX&copy;.
        </p>

        <div class="footer-about-openedx">
          <p>
            Read more about Open EdX:
            <a href="https://open.edx.org/">
              <img src="https://open.edx.org/sites/all/themes/edx_open/logo.png" alt="Link to Open EdX Site" width="140" />
            </a>
          </p>
        </div>

        <!-- OpenEdX Copyright info -->
        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>

    </section>
</main>
