<%page expression_filter="h"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("Payment Option: Bank Deposit")}</%block>

% if not user.is_authenticated:
<br>
<br>
<br>
<br>
% endif
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Bank Deposit")}</%block>
        </h1>

        <div>
          <h3 class="title">How to Pay through Bank Deposit</h3>
          <p class="copy">
            <ol>
              <li>Deposit your payment with the correct course price noting the following details:<br>
                <ul>
                  <li>
                    Bank: Security <b>Bank</b>
                  </li>
                  <li>
                    Account Name: <b>MOOCSX PH Incorporated</b>
                  </li>
                  <li>
                    Account Number: <b>0000014188742</b>
                  </li>
                  <li>
                    Branch: <b>Tomas Morato</b>
                  </li>
                </ul>
              </li>
              <li>Once you've deposited your payment, keep the deposit receipt and email it as an attachment to <a href="mailto:learn@coursebank.ph">learn@coursebank.ph</a>. Send an email with the following details:<br>
                <ul>
                  <li>
                    Send To: learn@coursebank.ph
                  </li>
                  <li>
                    Subject: Coursebank Enrollment Deposit
                  </li>
                  <li>
                    Message Body:<br>
                    <ul>
                      <li>
                        Full Name (same as the name you registered with on CourseBank)
                      </li>
                      <li>
                        Username (username you registered with on CourseBank)
                      </li>
                      <li>
                        Email Address (address you registered with on CourseBank, if different from address being used to send this email)
                      </li>
                      <li>
                        Image Attachment (clear copy of deposit slip/receipt)
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                Once you've sent the email, wait for a confirmation email from us. This will normally take "X" business days. (As you're waiting for the confirmation, you may still continue with your enrolled course in *audit mode.)
              </li>
              <li>
                Once you've received the email, you will see an enrollment code. This is a unique code which you may only use once. To use this code:<br>
                <ol>
                  <li>Go to your <a href="${reverse('dashboard')}">Dashboard</a> page.</li>
                  <li>Find the course you enrolled for.</li>
                  <li>Click the "Upgrade to Verified" button. This will take you to the Order page.</li>
                </ol>
              </li>
              <li>
                5. At the Order page, find the "Enter Enrollment/Discount Code" section at the upper left part of the page. Enter your enrollment code here then click "Apply". Once you've applied it, click the "Place Order" button at the bottom right of the page to finish the order process. (Ignore the Card Holder and Billing Information sections. You will NOT enter anything here.)
              </li>
              <li>
                6. Once you've successfully ordered the course using your enrollment code, you have officially been enrolled on a Verified Course on CourseBank.
              </li>
            </ol>
            <br>
            <p>
              <i>
                *Audit mode is the course mode where you can access the course content for free but you may not earn a verified certificate or CPD units.
              </i>
            </p>
          </p>

        </div>

    </section>
</main>
