<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

% if not user.is_authenticated:
<br>
<br>
<br>
<br>
% endif

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("FAQ")}</%block>
        </h1>
        <p>
          <h2>
            How much does enrolling in a course cost?
          </h2>
          <p>
            For auditing a course, nothing. They are free. For other courses, such as Verified or Professional coureses, providers charge for course completion certificates.
          </p>
          <br>
          <h2>
            How do I get more information about a course?
          </h2>
          <p>
            To have more information about a course, click on the button “ENROLL IN COURSE”. You will get direct access to the course website with more information. For any other information that is not available, contact the provider that offer the course.
          </p>
          <br>
          <h2>
            What is the value of Certificates?
          </h2>
          <p>
            To know more about the certificates, click on "Learn More" button of a course you are interested in at the Discovery page.
          </p>
          <br>
          <h2>
            I forgot/lost my password, how do I get a new password?
          </h2>
          <p>
            Go to the "Forgot password” link on the sign in page. Enter your e-mail address. You will receive an email with a URL that you must follow. This URL leads you to a page, where you must put the password that you want and confirm that password. Make sure that you don’t have any opened session in your browser when you do this procedure. We suggest that you make a secure password that you can easily remember .
          </p>
        </p>
    </section>
</main>
