<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

% if not user.is_authenticated:
<br>
<br>
<br>
<br>
% endif

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Honor Code")}</%block>
        </h1>
        <p>
          Coursebank applies the Honor Code upheld by EdX. To read more about their terms, read the Honor Code section at <a href="https://www.edx.org/edx-terms-service" target="_blank">EdX's Terms of Service</a>.
        </p>
        <h2>Honor Code Pledge</h2>
        <p>
          By enrolling in a Coursebank course or program, I agree that I will:
          <ul>
            <li>
              Complete all tests and assignments on my own, unless collaboration on an assignment is explicitly permitted.
            </li>
            <li>
              Maintain only one user account and not let anyone else use my username and/or password.
            </li>
            <li>
              Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.
            </li>
            <li>
              Not post answers to problems that are being used to assess learner performance.
            </li>
          </ul>
        </p>
    </section>
</main>
