<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

% if not user.is_authenticated:
<br>
<br>
<br>
<br>
% endif

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Honor Code")}</%block>
        </h1>
        <p>
          Coursebank applies the Honor Code upheld by EdX. To read more about their terms, read the Honor Code section at <a href="https://www.edx.org/edx-terms-service" target="_blank">EdX's Terms of Service</a>.
        </p>

        <h2>COLLABORATION POLICY</h2>
        <p>
          By enrolling in a course on Coursebank, you are joining a worldwide online community of learners. The aspiration of Coursebank is to provide anyone with an internet connection access to courses from the best institutions in the Philippines and to provide our learners the best educational experience internet technology enables. You are a part of the community that will help Coursebank achieve this goal. Coursebank depends upon your motivation to learn the material and to do so with honesty and academic integrity. In order to participate in Coursebank, you must agree to the Honor Code below and any additional terms specific to a course or program. This Honor Code, and any additional terms, will be posted on each course website.
        </p>

        <h2>HONOR CODE PLEDGE</h2>
        <p>
          By enrolling in a Coursebank course or program, I agree that I will:
          <ul>
            <li>
              Complete all tests and assignments on my own, including peer evaluation, unless collaboration on an assignment is explicitly permitted.
            </li>
            <li>
              Assess and mark peers’ outputs in accordance with the rubric provided.
            </li>
            <li>
              Maintain only one user account, unless Coursebank has approved the use of a separate user account in connection with an employer-sponsored or university-sponsored program.
            </li>
            <li>
              Not let anyone else use my username and/or password.
            </li>
            <li>
              Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.
            </li>
            <li>
              Not post answers to problems that are being used to assess learner performance.
            </li>
          </ul>
        </p>

        <h2>VIOLATIONS</h2>
        <p>
          If you are found in violation of the Terms of Service or Honor Code, you may be subject to one or more of the following actions:
          <li>
            Receiving a zero or no credit for an assignment;
          </li>
          <li>
            Having any certificate earned in the course or program withheld or revoked;
          </li>
          <li>
            Being unenrolled from a course or program; or
          </li>
          <li>
            Termination of your use of the Coursebank Site.
          </li>
          <li>
            Additional actions may be taken at the sole discretion of Coursebank and Coursebank Member course providers.
          </li>
          <li>
            No refunds will be issued in the case of any corrective action for such violations.
          </li>
        </p>

        <p>
          Honor Code violations will be determined at the sole discretion of Coursebank. You will be notified if a determination has been made that you have violated this Honor Code and you will be informed of the corresponding action to be taken as a result of the violation.
        </p>
    </section>
</main>
