<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Identification Verification")}</%block>

% if not user.is_authenticated:
<br>
<br>
<br>
<br>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Identification Verification")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or _("Please log-in to verify your identification and start earning verified certificates and CPD units.")}</%block>
        </p>
    </section>
</main>

% elif:

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Identification Verification")}</%block>
        </h1>

        <div>
          <h3 class="title">Photo Identification</h3>
          <p class="copy">You need a driver's license, passport, or other government-issued ID that has your name and photo.</p>
          <p class="photo-tip">You need an ID with your name and photo. A driver's license, passport, or other government-issued IDs are all acceptable.</p>

          <h3 class="title">For your Face photo submission, make sure that:</h3>
          <ul class="list-help">
            <li class="help-item">Your face is well-lit.</li>
            <li class="help-item">Your entire face fits inside the frame.</li>
            <li class="help-item">The photo of your face matches the photo on your ID.</li>
          </ul>

          <h3 class="title">For your ID Photo submission, make sure that:</h3>
          <ul class="list-help">
            <li class="help-item">Ensure that you can see your photo and read your name.</li>
              <li class="help-item">Make sure your ID is well-lit.></li>
          </ul>

        </div>

        <div class="help help-faq facefaq">
          <h3 class="sr title">Frequently Asked Questions</h3>
          <div class="copy">
            <dl class="list-faq">
              <dt class="faq-question">
                Why does CourseBank need my photo?
              </dt>
              <dd class="faq-answer">As part of the verification process, you take a photo of both your face and a government-issued photo ID. Our authorization service confirms your identity by comparing the photo you take with the photo on your ID.</dd>
              <dt class="faq-question">
                What does CourseBank do with this photo?
              </dt>
              <dd class="faq-answer">We directly send the submissions to our authorization service for review. Your photo and information are not saved or visible anywhere on CourseBank after the verification process is complete.</dd>
              <dt class="faq-question">
                How long is the validity of my verification?
              </dt>
              <dd class="faq-answer">Your verification is good for 1 year upon approval of your verification submission. This means that you only need to re-submit your ID photos once this validity is expired.</dd>
            </dl>
          </div>
        </div>

        <div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="face_file">Face Photo File: </label>
            <input type="file" name="face_file"><br>
            <label for="id_file">ID Photo File: </label>
            <input type="file" name="id_file" /><br>
            <button type="submit">Submit for Verification</button>
          </form>
        </div>

    </section>
</main>

% endif
