<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Verfied Certificates")}</%block>
        </h1>
        <p>
          A verified certificate from Coursebank can provide proof for an employer, school, or other institution that you have successfully completed an online course. Verified certificates require you to verify your identity using a webcam and a government-issued ID, so employers and schools know that you completed the course work.
        </p>
        <p>
          Coursebank has many types of courses to choose from. Choose the one that's right for you. Some courses allow you to earn a certificate of achievement that is verified to ensure you are the one taking the course.
          Receive a Course Expert signed certificate with the partner's official logo to verify your achievement and increase your job prospects. You can add the certificate to your CV or resume.
        </p>
        <p>
          Using a webcam or your phone's camera, you'll take photos of yourself and your government-issued photo ID. We will securely evaluate your photos and verify that you're the person completing the course. When you pass the course, you'll receive a verified certificate that provides a level of comfort to those who may want assurance about the authenticity of your Coursebank course work.
        </p>
        <p>
          Give yourself an additional incentive to complete the course. To qualify for your verified certificate, you'll need to watch course videos, participate in the discussion forums, and complete homework and exams with a passing grade. If you don't pass, you can take the course again at a later time.
          When you pass your course, you'll receive a certificate that includes a "verified" stamp showing that you and you alone took and passed the course. Share your certificate with friends, employers and others.
         </p>

    </section>
</main>
