// Sample red theme to demonstrate SASS overrides

// Theme colors
//
// Note: define colors needed by your theme first

// Define the primary cblue color
$cblue: rgb(41,181,216) !default; // #29B5D8
$cblue-l1: tint($cblue, 20%) !default;
$cblue-d1: shade($cblue, 20%) !default;

// Make blue the primary color
$primary: $cblue;
$uxpl-cblue-hover-active: darken($primary, 7%);
$uxpl-blue-hover-active: $uxpl-cblue-hover-active;

//change background colors
$uxpl-whitenedgrayscale-x-back: rgb(255, 255, 255);
$uxpl-grayscale-x-back: $uxpl-whitenedgrayscale-x-back;

//Font Things
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular/fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Montserrat-Regular/fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Montserrat-Regular/fonts/Montserrat-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

$font-family-sans-serif: 'Montserrat';

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
