.container-grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px 5px;
}

.container-grid-1 {
  display: grid;
  grid-template-columns: auto;
}

.grid-item ul {
  list-style-type: none;
}

.grid-item-inline ul {
  display: inline-block;
}

.left-footer, .right-footer {
  float: left;
  width: 20%;
}

.main-footer {
  float: left;
  width: 60%;
}

@media screen and (max-width: 800px) {
  .left-footer, .main-footer, .right-footer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
