.footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inline-li {
  display: inline;
  padding: 1.5% 1.5%;
}

.left-footer, .right-footer {
  float: left;
  width: 20%;

  div {
    display: block;
  }
}

.main-footer {
  float: left;
  width: 60%;
}

.main-left-footer, .main-right-footer {
  float: left;
  width: 66%;
}

.main-center-footer {
  float: left;
  width: 33%;
}

@media screen and (max-width: 800px) {
  .left-footer, .main-footer, .right-footer, .main-left-footer, .main-right-footer, .main-center-footer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
