#my-banner {
  background-image: url('../images/banner.png');
  background-color: $cblue;
  height: 292px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
