#my-banner {
  background-image: url('../images/banner.png');
  background-color: $cblue;
  height: 292px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home > header .title {
  margin-left: 0;
  background: transparent;
  box-shadow: none;
}

h1.banner-block {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}

p.banner-block {
  font-size: 1.4rem;
  line-height: 1.1em;
  font-weight: 600;
}

.banner-block {
  text-align: left;
  color: white;
}
