body{font-family:'Montserrat',sans-serif!important}
a.width-auto{width:auto}
.rounded-1{border-radius:1rem}.rounded-1-5{border-radius:1.5rem}.rounded-2{border-radius:2rem}
div.bg-color-reset{background-color:unset!important}
height-fit-content{height:fit-content!important}
img.max-height{max-height:10vh}.color-reset{color:unset!important}
.my-boo-btn-text-big{font-size:2.5rem}.font-1-2{font-size:1.2rem;}.font-1-35{font-size:1.35rem;}.font-1-5{font-size:1.5rem}.font-2{font-size:2rem}.font-2-5{font-size:2.5rem}.font-3-5{font-size:3.5rem}.font-5-5{font-size:5.5rem}
.title,body > div.my-boo-carousel.slide > div > div > div > div.my-boo-position-absolute.my-boo-mx-3.my-boo-mx-sm-5.z-index-1.my-boo-font-weight-light > h1.my-boo-mb-3.my-boo-text-white {font-size: 4rem;font-weight: 300;line-height: 1.2;}
.subtitle{font-size: 1.4rem;line-height: 1.6em;}nav{font-size:0.87rem;}
.title-2{font-size:2rem}
.font-1{font-size:1rem}
.font-0-8{font-size:0.8rem}
div.half-page{min-height:500px;}
div.parallax-1,div.parallax-2,div.parallax-3,div.parallax-4{height:105vh;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}
div.parallax-1{background-image:url("../images/mymain/01-1.jpg");}
div.parallax-2{background-image:url("../images/mymain/01-2.jpg");}
div.parallax-3{background-image:url("../images/mymain/01-3.jpg");}
div.parallax-4{background-image:url("../images/mymain/01-4.jpg");}
.line-height-one{line-height:1}
.z-index-1{z-index:1}
.font-small{font-size:.8rem}.circle{height:80;width:80}
a,a:hover{text-decoration:none;text-decoration-line:none;text-decoration-color:transparent;color:black}
body > div.my-boo-carousel.slide > div > div.my-boo-carousel-item.active > div > div.my-boo-position-absolute.my-boo-mx-3.my-boo-mx-sm-5.z-index- > h1.display-1.my-boo-mb-3.my-boo-text-white,body > div.my-boo-carousel.slide > div > div.my-boo-carousel-item.active > div > div.my-boo-position-absolute.my-boo-mx-3.my-boo-mx-sm-5.z-index-1 > p,a.my-boo-course > section > section > div.row > div.my-boo-col-8.my-boo-px-0 > p,a.my-boo-course > section > section > span,#blog-carousel > div > div > div > div > div > div.my-boo-card-body > label,#blog-carousel > div > div.my-boo-carousel-item.fluid-container.my-boo-mr-5.active > div > div > div > div.my-boo-card-body > p,#power > div > div > div > section p,footer > div > div:nth-child(1) > div > ul > li > a,footer > div > div > div.my-boo-col.my-boo-mx-auto.my-boo-text-lg-right.my-boo-text-center > p{
    font-weight:300!important
}

@media screen and (max-width: 768px) {
  .title {font-size: 3rem;}
  .subtitle {font-size: 1rem;}
}

#my-boo-course-carousel > div > div.my-boo-carousel-item.fluid-container.my-boo-mr-5.active.my-boo-carousel-item-left > div > div > a > section > section > div.row > div.my-boo-col-8.my-boo-px-0 > h2 > span{
    font-weight:600!important
}

strong,.my-boo-course > section > section > div.row > div.my-boo-col-8.my-boo-px-0 > label,#blog-carousel > div > div.my-boo-carousel-item.fluid-container.my-boo-mr-5.active > div > div > div > div.my-boo-card-body > h4,#blog-carousel > div > div.my-boo-carousel-item.fluid-container.my-boo-mr-5.active > div > div > div > div.my-boo-card-footer.bg-cerulean.my-boo-py-1.my-boo-pr-2 > a,#power > div > div > div > section h2,#my-boo-course-carousel > div > div.my-boo-carousel-item.fluid-container.my-boo-mr-5.active > div > div > a > section > section > div.my-boo-row > div.my-boo-col-4.my-boo-px-0.my-auto > p{font-weight:700!important}

.full-page-height{min-height:1000px;height:auto;}
.border-spacing-right{border-right:3px solid #dee2e6}
.bg-transparent{background-color:transparent;border:0px;}.row{margin:0px;}
.parent-that-centers-vertically {display: flex;flex-direction: column;justify-content: center;}
footer {background-color: var(--bigstone);}
footer > div > div:nth-child(1) > div > ul > li > a,footer > div > div:nth-child(1) > div > a {color: #fff !important;}
footer, footer .my-boo-btn, footer h5{font-size:.8125rem}
footer > div > div:nth-child(3) > div.my-boo-col-lg-6.my-boo-col-12 > ul > li> a{color:white}
#navbarSupportedContent > ul > li.my-boo-nav-item.my-boo-dropdown > div > div > div > div:hover{border-color: #fff!important;}
#navbarSupportedContent > ul > li> div > div > div > div > ul > li:hover{background-color:#007bff!important;}
@media screen and (min-width: 992px) {
    .my-boo-navbar .my-boo-dropdown {position:static;}
    .my-boo-navbar .my-boo-dropdown-menu {width:100%;left:0;right:0;top:45px;display:block;visibility: hidden;opacity: 0;transition:visibility 0s, opacity 0.3s linear;}
    .my-boo-navbar .my-boo-dropdown:hover .my-boo-dropdown-menu, .my-boo-navbar .my-boo-dropdown .my-boo-dropdown-menu:hover { display:block; visibility: visible; opacity: 1;transition: visibility 0s, opacity 0.3s linear;}
}
ul{margin-bottom:0px;}
#logo-section{background-image: linear-gradient(to bottom, var(--onahau) 1%, white); background-color: var(--onahau);}
#deserve{ min-height: 400px; background-image: linear-gradient(to bottom right, var(--cerulean), white); }

.tint,.tint-reason {position: relative;float: left;cursor: pointer; max-width: 505px; max-height: 509.5px;}
.tint:before,.tint-reason:before {
    content: "";display: block;position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background-color: rgba(6,190,229,0.4);
    transition: all .3s linear;
    max-width: 505px;
    max-height: 509.5px;
}
.tint:before {border-radius:2rem;}
.tint-reason:before {border-radius:50%; max-width: 505px; max-height: 509.5px;}
.my-boo-course section{color:white}
.my-boo-course section h2 span {color:var(--cerulean);background-color:white;z-index: 2;}
.my-boo-course > section > section > div.row > div.my-boo-col-8.my-boo-px-0 > h2 > span{font-size:1rem}
.my-boo-course:hover .tint:before,.reason-sec:hover .tint-reason:before { background:rgba(6,190,229,0.8); }
.my-boo-course:hover section h2 span {color:white;background-color:var(--cerulean);z-index: 2;}
.my-boo-course:hover section h2, .my-boo-course:hover section p, .my-boo-course:hover section label, .my-boo-course:hover section section div div.my-boo-col-4.my-boo-px-0.my-auto p, .my-boo-course:hover section section > span{ color:var(--cerulean); z-index: 3;opacity: 100}
.my-boo-course > section > section > div.my-boo-row > div.my-boo-col-4 > p{opacity:0;transition:0.4s}
.my-boo-course > section > section > div.my-boo-row > div> p{font-size:0.8rem}
.my-boo-course > section > section > div.my-boo-row > div.my-boo-col-8.my-boo-px-0 > label{font-size:1.2rem}
.w-60{width:60%;}
.my-boo-course{margin-bottom:1rem!important;}
.my-boo-course-img{border-radius:2rem;}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    background-color: #fff;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    border-radius:2rem;
    z-index: -1;
}
.my-boo-course:hover .overlay {left:-1%;width: 102%;}

nav.navbar-secondary{background-color: #fff;}
html,body {overflow-x: hidden;}body {padding-top: 0vh;}
.my-boo-navbar { border: none;transition: 0.4s; }
nav.navbar-shadow{background-color: rgba(0,0,0,0);}

@media (max-width: 575.99px) {
    .my-boo-course, .my-boo-course-img{min-height: 35vh;max-height: 35vh; width:65vw;}
    #logo-section > p {font-size:1.2rem!important}
    #logo-section > p.font-1-5 {font-size:1.25rem!important;}
    .my-boo-course:hover .overlay {width: 65%;}
    .my-boo-course > section > section > div.my-boo-row > div.my-boo-col-8.my-boo-px-0 > label{width: 100%;}
}
@media (min-width: 576px) {
    .my-boo-course, .my-boo-course-img{min-height: 40vh;max-height: 40vh; width:60vw;}
    .my-boo-course > section > section > div.row > div.my-boo-col-8.my-boo-px-0 > label{width: 95%;}
}
@media (min-width: 768px) {
    .my-boo-course, .my-boo-course-img{min-height: 35vh;max-height: 35vh; width:55vw;}
}

@media (min-width: 992px) {
    .my-boo-course, .my-boo-course-img{min-height: 30vh;max-height: 30vh; width:50vw;}
}

@media (min-width: 1200px) {
    .my-boo-course, .my-boo-course-img{min-height: 27vh;max-height: 27vh; width:27vw;}
}
:root{
    --cerulean:#06BEE5;
    --onahau:#C5FFFD;
    --jellybean:#247BA0;
    --bahamablue:#006494;
    --bigstone:#13293D;
}
figure{margin-bottom:0px;}
.cerulean{color:var(--cerulean)}
.bigstone{color:var(--bigstone)}
.bahamablue{color:var(--bahamablue)}
.bg-cerulean{background-color: #06BEE5}
.bg-onahau{background-color: #C5FFFD}
.bg-jellybean{background-color: #247BA0}
.bg-bahamablue{background-color: #006494}
.bg-bigstone{background-color: #13293D}
#gradient-title {
    background: linear-gradient(to right, var(--cerulean) 70%, var(--onahau));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
#logo,#logo-footer{
    height:35px;
    width:auto;
}
nav.navbar-shadow > div > ul > li > a,nav.navbar-shadow > div > ul > li > i,nav.navbar-shadow > div > button > i,nav.navbar-shadow > button > i {color:white;}
nav.navbar-secondary > div > ul > li > a,nav.navbar-secondary > div > ul > li > i,nav.navbar-secondary > div > button > i,nav.navbar-secondary > button > i {color:var(--cerulean);}
nav.navbar-secondary > div > ul > li > a,nav.navbar-secondary > button > span {font-weight: 500;}
nav.navbar-secondary > div > ul > li.parent-that-centers-vertically > label {border-color: var(--cerulean);}
nav > div > ul > li:nth-child(5) > a{font-weight: 900;}
#search-bar{min-width:20rem;border-radius:3rem;box-shadow:none;outline-color:white}
#search-bar:focus{background-color:var(--cerulean);border:0px;box-shadow:none;outline-color:white}
#search-bar::placeholder {color:var(--onahau);opacity: 1;font-weight:300;font-style: italic}
#search-bar:-ms-input-placeholder {color:var(--onahau);font-weight:300;font-style: italic}
#search-bar::-ms-input-placeholder {color:var(--onahau);font-weight:300;font-style: italic}
.search-box{right: 0;margin-top:40px;margin-right:15px;display: none;}

.hide-extra-text-70,.hide-extra-text{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hide-extra-text-70{max-width: 70%;}
.hide-extra-text{max-width: 100%;}
.line-hide-2, .line-hide-3,.my-boo-course > section > section > div.row > div.my-boo-col-8.my-boo-px-0 > p:nth-child(1),.my-boo-course > section > section > div.my-boo-row > div.my-boo-col-8.my-boo-px-0 > label{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;}
.line-hide-2,.my-boo-course > section > section > div.my-boo-row > div.my-boo-col-8.my-boo-px-0 > p:nth-child(1),.my-boo-course > section > section > div.my-boo-row > div.my-boo-col-8.my-boo-px-0 > label{-webkit-line-clamp: 2;}
.line-hide-3{-webkit-line-clamp: 3;}

.blog-height{min-height:65vh;}
.blog-img{height:30vh;width:100%;}
.blog-bg-img{background-image: linear-gradient(to bottom right, var(--cerulean), white);}
#blog-carousel > div > div.my-boo-carousel-item.active.fluid-container.my-boo-mr-5 > div > div > div > div.my-boo-card-body > label{font-size:.9rem}
.power-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
}
.hover-content{opacity:0;transition:.5s;}
#power > div > div > div > section:hover section{opacity:100;z-index:21}
#power > div > div > div > section:hover figure{z-index:20}
section.reason-sec figure img{height: 100%;width:100%; max-width: 505px; max-height: 509.5px}
section.reason-sec > h2,section.reason-sec > p {transition: .4s;}
section.reason-sec:hover > h2,section.reason-sec:hover > p {opacity: 0}

.my-boo-carousel h1 {text-align: left;}
label.cerulean {font: inherit; cursor: auto;}
a.my-boo-carousel-link {color: white;}
a.my-boo-carousel-link:hover {text-decoration: none;}
.my-boo-reason-h2 {color: white; font-family: inherit;}

@media (min-width: 576px) {
  .reason-sec h2 {
    font-size: 1.5rem;
  }
  .reason-sec section h2 {
    font-size: 1.25rem;
  }
  .reason-sec section p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .reason-sec h2 {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .reason-sec h2 {
    font-size: 1.5rem;
  }
}
