// Theme colors
//
// Note: define colors needed by your theme first

// Define the primary blue color
$cblue: #29B5D8;

// Make blue the primary color
$primary: $cblue;

//$homepage-bg-image: url('#{$static-path}/images/banner.png') no-repeat;

//Font Things
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-family-sans-serif: 'Montserrat';

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

@import 'myboo';
@import 'mymain';

// @import 'newmymain';

@import 'myindex';

@import 'grid';

@import 'cpd';
