## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled

  # App that handles subdomain specific branding
  from branding import api as branding_api
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer" style="box-shadow:none;">
    <footer id="footer-openedx" class="p-4 bg-bahamablue text-white"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >

    <div class="fluid-container text-center text-lg-left">
            <div class="row">
                <div class="col-md-12 col-lg-1 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-lg-none">
                <div class="col-md-12 col-lg-1 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-lg-none">
                <div class="col-md-12 col-lg-1  mx-auto">
                    <h5 class="font-weight-bold text-uppercase mb-4">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-lg-none">
                <div class="col-md-12 col-lg-1 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <hr class="clearfix w-100 d-lg-none">
                <div class="col mx-auto text-lg-right text-center">
                    <img id="logo-footer" class="mb-2" src="${static.url('my-bootstrap/images/mymain/Coursebank%20Logo%20-%20White.png')}">
                    <p class="mb-4">© 2018 Coursebank</p>
                    <a href="#">Legal &#38; Privacy</a><br>
                    <a href="#">Regulatory Information</a><br>
                    <a href="#">Site Map</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled list-inline text-center d-inline float-lg-left mx-auto">
                        <li class="list-inline-item mb-1 mr-0">
                            <a href="#!" class="font-weight-bold mr-5 text-white">Log In</a>
                        </li>
                        <li class="list-inline-item mr-0"><label class="border-spacing-right h-75">&nbsp;</label></li>
                        <li class="list-inline-item ml-5">
                            <a href="#!" class="btn bg-white btn-rounded bahamablue font-weight-bold px-4 py-0 cerulean">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <hr class="w-100 d-lg-none">
                <div class="col-lg-6 col-12">
                    <ul class="list-unstyled list-inline text-center font-1 mb-0 d-inline float-lg-right float-center">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-tw mx-1">
                                <i class="fab fa-twitter"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-gplus mx-1">
                                <i class="fab fa-instagram"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-li mx-1">
                                <i class="fab fa-youtube"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-li mx-1">
                                <i class="fab fa-linkedin"> </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
  </div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif

% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif

% if bidi == 'rtl':
<%static:css group='style-lms-footer-edx-rtl'/>
% else:
<%static:css group='style-lms-footer-edx'/>
% endif

% if footer_js_url:
  <script type="text/javascript" src="${footer_js_url}"></script>
% endif
