## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled

  # App that handles subdomain specific branding
  from branding import api as branding_api
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer" style="box-shadow:none; padding: 0;bottom: 0;margin-top: auto;">
    <footer id="footer-openedx" class="my-boo-p-4 bg-bahamablue my-boo-text-white" style="width: inherit;"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >

    <div class="fluid-container my-boo-text-center my-boo-text-lg-left">
                <div class="my-boo-row">
                    <div class="my-boo-col-md-12 my-boo-col-lg-1 my-boo-mx-auto">
                        <h5 class="my-boo-font-weight-bold my-boo-text-uppercase my-boo-mb-4" style="color: inherit;font-family: inherit;">Coursebank</h5>
                        <ul class="my-boo-list-unstyled">
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="https://open.edx.org/">Open EdX</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="my-boo-clearfix my-boo-w-100 my-boo-d-lg-none">
                    <div class="my-boo-col-md-12 my-boo-col-lg-1 my-boo-mx-auto">
                        <h5 class="my-boo-font-weight-bold my-boo-text-uppercase my-boo-mb-4" style="color: inherit;font-family: inherit;">Connect</h5>
                        <ul class="my-boo-list-unstyled">
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="my-boo-clearfix my-boo-w-100 my-boo-d-lg-none">
                    <div class="my-boo-col-md-12 my-boo-col-lg-1  my-boo-mx-auto">
                        <h5 class="my-boo-font-weight-bold my-boo-text-uppercase my-boo-mb-4" style="color: inherit;font-family: inherit;">More Information</h5>

                        <ul class="my-boo-list-unstyled">
                            <!-- <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li> -->
                            <li>
                                <a href="/tos">Terms of Service</a>
                            </li>
                            <li>
                                <a href="/honor">Honor Code</a>
                            </li>
                        </ul>
                    </div>

                    <hr class="my-boo-clearfix my-boo-w-100 my-boo-d-lg-none">
                    <div class="my-boo-col my-boo-mx-auto my-boo-text-lg-right my-boo-text-center">
                        <img id="logo-footer" class="my-boo-mb-2" src="/static/my-bootstrap/images/mymain/Coursebank%20Logo%20-%20White.png">
                        <div class="my-boo-mb-4">© 2019 Coursebank</div>
                        <a href="/privacy">Legal &#38; Privacy</a><br>
                        <!-- <a href="#">Regulatory Information</a><br> -->
                        <a href="#">Site Map</a>
                    </div>
                </div>
                <hr>
                <div class="my-boo-row">
                    % if not user.is_authenticated:
                    <div class="my-boo-col">
                        <ul class="my-boo-list-unstyled my-boo-list-inline my-boo-text-center my-boo-d-inline my-boo-float-lg-left my-boo-mx-auto">
                            <li class="my-boo-list-inline-item my-boo-mb-1 my-boo-mr-0">
                                <a href="/login" class="my-boo-btn my-boo-font-weight-bold my-boo-ml-2 my-boo-mr-2 my-boo-text-white">Log In</a>
                            </li>
                            <li class="my-boo-list-inline-item my-boo-mr-0"><label class="border-spacing-right my-boo-h-75">&nbsp;</label></li>
                            <li class="my-boo-list-inline-item my-boo-ml-5">
                                <a href="/register" class="my-boo-btn my-boo-bg-white btn-rounded bahamablue my-boo-font-weight-bold my-boo-ml-2 my-boo-mr-5 my-boo-px-4 my-boo-py-0 cerulean">Pre-Register</a>
                            </li>
                        </ul>
                    </div>
                    % endif
                    <hr class="my-boo-w-100 my-boo-d-lg-none">
                    % if user.is_authenticated:
                    <div class="my-boo-col-lg-12 my-boo-col-12" style="right: 2.5%;">
                    % else:
                    <div class="my-boo-col-lg-6 my-boo-col-12">
                    % endif
                        <ul class="my-boo-list-unstyled my-boo-list-inline my-boo-text-center font-1 my-boo-mb-0 my-boo-d-inline my-boo-float-lg-right float-center">
                            <li class="my-boo-list-inline-item">
                                <a href="https://facebook.com/coursebank.ph/" class="btn-floating btn-fb my-boo-mx-1">
                                    <i class="fab fa-facebook"> </i>
                                </a>
                            </li>
                            <!-- <li class="my-boo-list-inline-item">
                                <a href="#" class="btn-floating btn-tw my-boo-mx-1">
                                    <i class="fab fa-twitter"> </i>
                                </a>
                            </li>
                            <li class="my-boo-list-inline-item">
                                <a href="#" class="btn-floating btn-gplus my-boo-mx-1">
                                    <i class="fab fa-instagram"> </i>
                                </a>
                            </li>
                            <li class="my-boo-list-inline-item">
                                <a href="#" class="btn-floating btn-li my-boo-mx-1">
                                    <i class="fab fa-youtube"> </i>
                                </a>
                            </li>
                            <li class="my-boo-list-inline-item">
                                <a href="#" class="btn-floating btn-li my-boo-mx-1">
                                    <i class="fab fa-linkedin"> </i>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

    </footer>
  </div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif

% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif

% if bidi == 'rtl':
<%static:css group='style-lms-footer-edx-rtl'/>
% else:
<%static:css group='style-lms-footer-edx'/>
% endif

% if footer_js_url:
  <script type="text/javascript" src="${footer_js_url}"></script>
% endif
