<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<div class="fluid-container parent-that-centers-vertically">
  <div class="my-boo-position-absolute my-boo-mx-3 my-boo-mx-sm-5 my-boo-z-index-1 my-boo-font-weight-light">
    <h1 class="title teal my-boo-mb-4" style="text-align: left; line-height: 0.9;">
      <b>enhance</b>
      <br>
      <span style="color: white;">your</span>
      <br>
      <b>career.</b></h1>
    <p class="my-boo-mb-0 my-boo-py-0 my-boo-text-white" style="font-size: 1.4rem;line-height: 1.4em;">
      Stay ahead in your professional development.<br>
      Learn new knowledge and skills online.
    </p>
    <div class="my-boo-btn bg-teal my-boo-text-white rounded-1 my-boo-font-weight-bold section-btn my-boo-mt-5 my-boo-px-5">
      <a class="my-boo-carousel-link" href="/register" style="color: inherit;">Join Now</a>
    </div>
  </div>
  <div class="parallax-1"></div>
</div>

<div class="fluid-container parent-that-centers-vertically half-page my-boo-text-center my-boo-align-items-center my-boo-p-5" id="logo-section">
  <h1 class="title-2 my-boo-mb-3"><label class="teal my-boo-font-weight-bold my-boo-mb-0" style="font: inherit;">Collaboration</label>&nbsp;at its finest</h1>
  <p class="font-1-2 my-boo-font-weight-light" style="line-height: 1.4;">We deliver top quality courses through partnerships with esteemed institutions.</p>
  <div class="my-boo-row my-boo-px-5 my-boo-mt-5" style="width: 90%;">
    <div class="my-boo-col my-boo-align-items-center my-boo-my-auto"><a href="https://www.dap.edu.ph/" target="_blank"><img src="${static.url('images/mymain/logo_dap.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col my-boo-align-items-center my-boo-my-auto"><a href="https://www.iacademy.edu.ph/" target="_blank"><img src="${static.url('images/mymain/logo_iacademy.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col my-boo-align-items-center my-boo-my-auto"><a href="https://www.sosajbph.com/" target="_blank"><img src="${static.url('images/mymain/logo_pda.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col my-boo-align-items-center my-boo-my-auto"><a href="#"><img src="${static.url('images/mymain/logo_readabilitycenter.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col my-boo-align-items-center my-boo-my-auto"><a href="https://www.insuranceinstituteasiapacific.com/" target="_blank"><img src="${static.url('images/mymain/logo_iiap.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col my-boo-align-items-center my-boo-my-auto" ><a href="https://adarna.com.ph/" target="_blank"><img src="${static.url('images/mymain/logo_adarna.png')}" class="img-fluid max-height"></a></div>
  </div>
  <div class="my-boo-btn bg-teal my-boo-text-white rounded-1 my-boo-font-weight-bold section-btn my-boo-mt-5 my-boo-px-4">
    <a class="my-boo-carousel-link" href="/contact" style="color: inherit;">Become a Partner</a>
  </div>
</div>

<main class="my-boo-px-4">
  <section class="home">
    <h1 style="text-align: left;top: 50px;position: relative;" class="title-2"><label class="teal my-boo-font-weight-bold my-boo-mb-0" style="font: inherit;">New</label>&nbsp; Courses</h1>
    <%include file="${courses_list}" />
  </section>
</main>

<div id="deserve" class="my-boo-py-4 my-boo-px-1 my-boo-text-center my-boo-text-white parent-that-centers-vertically">
  <section>
    <h1 class="title-2 my-boo-mb-3 my-boo-text-white"><b>Enter a future of possibilities.</b></h1>
    <p class="font-1-2 my-boo-font-weight-light" style="line-height: 1.4;">Invest in yourself. Enroll in a program to boost your career.</p>
    <div class="my-boo-btn my-boo-bg-white teal my-boo-font-weight-bold section-btn my-boo-px-4 rounded-1 my-4">
      <a href="/register">Get Started</a>
    </div>
  </section>
</div>

<div id="power" class="fluid-container my-boo-py-5 my-boo-px-2 my-boo-px-sm-1">
  <h1 class="title-2 my-boo-text-center"><label class="teal my-boo-font-weight-bold" style="font: inherit;">Learning experience</label> like no other</h1>
  <p class="my-boo-text-center font-1-2 my-boo-px-2 my-boo-font-weight-light" style="line-height: 1.4;">Succeed in an interactive online learning environment developed for learners of today.</p>
  <br>
  <br>
  <div class="my-boo-my-5 my-boo-px-1 my-boo-px-sm-2 my-boo-px-md-2 my-boo-px-lg-5">
    <div class="my-boo-row">
      <div class="my-boo-col my-boo-col-md-3 my-boo-col-sm-6 my-boo-xl-4 my-boo-lg-4 my-boo-md-4 my-boo-sm-12 my-boo-px-4 my-boo-my-lg-4 my-boo-mx-sm-auto">
        <section class="reason-sec my-boo-position-relative my-boo-text-white parent-that-centers-vertically">
          <figure class="tint-reason">
            <img class="my-boo-rounded-circle" src="${static.url('images/mymain/04-1.jpg')}" alt="reason">
          </figure>
          <h2 class="my-boo-reason-h2 title-2 my-boo-mx-4 power-text-center">Coursework</h2>
          <p class="reason-more my-boo-position-absolute my-boo-text-center my-boo-fixed-bottom" style="padding-bottom: 10px;">Hover for more <i class="fas fa-angle-right font-1-5 my-boo-align-middle"></i></p>
          <section style="height: 50%;top: 35%;" class="my-boo-position-absolute my-boo-fixed-top my-boo-text-left hover-content my-boo-px-5 my-boo-py-2 parent-that-centers-vertically">
            <h2 class="my-boo-reason-h2">Coursework</h2>
            <p class="my-boo-reason-p">Self-paced learning featuring pre-recorded videos, assessments, projects, and other interactive learning experiences.</p>
          </section>
        </section>
      </div>
      <hr class="my-boo-my-5 my-boo-d-xl-none my-boo-d-lg-none my-boo-d-md-none my-boo-w-100">
      <div class="my-boo-col my-boo-col-md-3 my-boo-col-sm-6 my-boo-xl-4 my-boo-lg-4 my-boo-md-4 my-boo-sm-12 my-boo-px-4 my-boo-my-lg-4 my-boo-mx-sm-auto">
        <section class="reason-sec my-boo-position-relative my-boo-text-white parent-that-centers-vertically">
          <figure class="tint-reason">
            <img class="my-boo-rounded-circle" src="${static.url('images/mymain/04-2.jpg')}" alt="reason">
          </figure>
          <h2 class="my-boo-reason-h2 title-2 my-boo-mx-4 power-text-center">Student Support</h2>
          <p class="reason-more my-boo-position-absolute my-boo-text-center my-boo-fixed-bottom" style="padding-bottom: 10px;">Hover for more <i class="fas fa-angle-right font-1-5 my-boo-align-middle"></i></p>
          <section style="height: 50%;top: 35%;" class="my-boo-position-absolute my-boo-fixed-top my-boo-text-left hover-content my-boo-px-5 my-boo-py-2 parent-that-centers-vertically">
            <h2 class="my-boo-reason-h2">Student Support</h2>
            <p class="my-boo-reason-p">Connect with your peers and other professionals online to discuss, debate, and gain mastery of topics.</p>
          </section>
        </section>
      </div>
      <hr class="my-boo-my-5 my-boo-d-xl-none my-boo-d-lg-none my-boo-d-md-none my-boo-w-100">
      <div class="my-boo-col my-boo-col-md-3 my-boo-col-sm-6 my-boo-xl-4 my-boo-lg-4 my-boo-md-4 my-boo-sm-12 my-boo-px-4 my-boo-my-lg-4 my-boo-mx-sm-auto">
        <section class="reason-sec my-boo-position-relative my-boo-text-white parent-that-centers-vertically">
          <figure class="tint-reason">
            <img class="my-boo-rounded-circle" src="${static.url('images/mymain/04-3.jpg')}" alt="reason">
          </figure>
        <h2 class="my-boo-reason-h2 title-2 my-boo-mx-4 power-text-center">CPD &#38; Credentials</h2>
        <p class="reason-more my-boo-position-absolute my-boo-text-center my-boo-fixed-bottom" style="padding-bottom: 10px;">Hover for more <i class="fas fa-angle-right font-1-5 my-boo-align-middle"></i></p>
        <section style="height: 50%;top: 35%;" class="my-boo-position-absolute my-boo-fixed-top my-boo-text-left hover-content my-boo-px-5 my-boo-py-2 parent-that-centers-vertically">
          <h2 class="my-boo-reason-h2">CPD &#38; Credentials</h2>
          <p class="my-boo-reason-p">Showcase course mastery through verified certificates. Earn CPD units upon completion from accredited providers by the Professional Regulatory Board.</p>
        </section>
      </section>
    </div>
  </div>
</div>

</div>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
