<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<!-- MAIN BANNER - CAROUSEL SLIDE -->
<div class="my-boo-carousel slide" data-ride="my-boo-carousel">
            <div class="my-boo-carousel-inner">
                <div class="my-boo-carousel-item active">
                    <div class="fluid-container parent-that-centers-vertically">
                        <div class="my-boo-position-absolute my-boo-mx-3 my-boo-mx-sm-5 my-boo-z-index-1 my-boo-font-weight-light">
                            <h1 class="title cerulean my-boo-font-weight-bold my-boo-mb-0">learning</h1>
                            <h1 class="title my-boo-mb-3 my-boo-text-white">begins<br>here.</h1>
                            <p class="subtitle my-boo-mb-0 my-boo-py-0 my-boo-text-white">
                                Go beyond the ordinary.<br>
                                Discovery new ideas and skills.<br>
                                Coursebank is where learning begins.
                            </p>
                            <div class="my-boo-btn bg-cerulean my-boo-text-white rounded-1 my-boo-font-weight-bold subtitle my-boo-mt-5 my-boo-px-4">
                              <a href="/register">Get Started</a>
                            </div>
                        </div>
                        <div class="parallax-1"></div>
                    </div>
                </div>
                <div class="my-boo-carousel-item">
                    <div class="fluid-container parent-that-centers-vertically">
                        <div class="my-boo-position-absolute my-boo-mx-3 my-boo-mx-sm-5 my-boo-z-index-1 my-boo-font-weight-light">
                            <h1 class="title cerulean my-boo-font-weight-bold my-boo-mb-0">the future</h1>
                            <h1 class="title my-boo-mb-3 my-boo-text-white">begins<br>here.</h1>
                            <p class="subtitle my-boo-mb-0 my-boo-py-0 my-boo-text-white">
                                Go beyond the ordinary.<br>
                                Discovery new ideas and skills.<br>
                                Coursebank is where learning begins.
                            </p>
                            <div class="my-boo-btn bg-cerulean my-boo-text-white rounded-1 my-boo-font-weight-bold subtitle my-boo-mt-5 my-boo-px-4">
                              <a href="/register">Get Started</a>
                            </div>
                        </div>
                        <div class="parallax-2"></div>
                    </div>
                </div>
                <div class="my-boo-carousel-item">
                    <div class="fluid-container parent-that-centers-vertically">
                        <div class="my-boo-position-absolute my-boo-mx-3 my-boo-mx-sm-5 my-boo-z-index-1 my-boo-font-weight-light">
                            <h1 class="title cerulean my-boo-font-weight-bold my-boo-mb-0">education</h1>
                            <h1 class="title my-boo-mb-3 my-boo-text-white">begins<br>here.</h1>
                            <p class="subtitle my-boo-mb-0 my-boo-py-0 my-boo-text-white">
                                Go beyond the ordinary.<br>
                                Discovery new ideas and skills.<br>
                                Coursebank is where learning begins.
                            </p>
                            <div class="my-boo-btn bg-cerulean my-boo-text-white rounded-1 my-boo-font-weight-bold subtitle my-boo-mt-5 my-boo-px-4">
                              <a href="/register">Get Started</a>
                            </div>
                        </div>
                        <div class="parallax-3"></div>
                    </div>
                </div>
                <div class="my-boo-carousel-item">
                    <div class="fluid-container parent-that-centers-vertically my-boo-font-weight-light">
                        <div class="my-boo-position-absolute my-boo-mx-3 my-boo-mx-sm-5 my-boo-z-index-1">
                            <h1 class="title cerulean my-boo-font-weight-bold my-boo-mb-0">success</h1>
                            <h1 class="title my-boo-mb-3 my-boo-text-white">begins<br>here.</h1>
                            <p class="subtitle my-boo-mb-0 my-boo-py-0 my-boo-text-white">
                                Go beyond the ordinary.<br>
                                Discovery new ideas and skills.<br>
                                Coursebank is where learning begins.
                            </p>
                            <div class="my-boo-btn bg-cerulean my-boo-text-white rounded-1 my-boo-font-weight-bold subtitle my-boo-mt-5 my-boo-px-4">
                              <a href="/register">Get Started</a>
                            </div>
                        </div>
                        <div class="parallax-4"></div>
                    </div>
                </div>
            </div>
        </div>

<!-- COLLABORATION SECTION -->
<div class="fluid-container parent-that-centers-vertically half-page my-boo-p-5 my-boo-text-center my-boo-align-items-center" id="logo-section">
  <p class="title-2 my-boo-mb-0"><label class="cerulean my-boo-font-weight-bold my-boo-mb-0">Collaboration</label>&nbsp;at its finest.</p>
  <p class="font-1-2 my-boo-font-weight-light">Partnering with esteemed institutions, we deliver top quality courses.<br>Learn programs needed for your career or pursue new and in-trend knowledge.</p>
  <div class="my-boo-row my-boo-px-5 my-boo-mt-5">
    <div class="my-boo-col-xl-3 my-boo-col-md-6 my-boo-col-12 my-boo-align-items-center my-boo-my-auto"><a href="https://www.sosajbph.com/"><img src="${static.url('images/mymain/logo_sosajb.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col-xl-3 my-boo-col-md-6 my-boo-col-12 my-boo-align-items-center my-boo-my-auto"><a href="https://www.jsongcpa.com/"><img src="${static.url('images/mymain/logo_juanchosong.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col-xl-3 my-boo-col-md-6 my-boo-col-12 my-boo-align-items-center my-boo-my-auto"><a href="https://www.iqvia.com/"><img src="${static.url('images/mymain/logo_iqvia.png')}" class="img-fluid max-height"></a></div>
    <div class="my-boo-col-xl-3 my-boo-col-md-6 my-boo-col-12 my-boo-align-items-center my-boo-my-auto"><a href="https://www.iacademy.edu.ph/"><img src="${static.url('images/mymain/logo_iacademy.png')}" class="img-fluid max-height"></a></div>
  </div>
</div>

<!-- GET STARTED SECTION -->
<div id="deserve" class="my-boo-py-4 my-boo-px-1 my-boo-text-center my-boo-text-white parent-that-centers-vertically">
  <section>
    <h1 class="title-2 my-boo-mb-3">Because you deserve the <span class="my-boo-font-weight-bold">best.</span></h1>
    <p class="font-1-2 my-boo-font-weight-light">Coursebank offers top-notch courses that will develop your career or academic wise.<br>It&#39;s time for you to discover more because this is where learning begins.</p>
    <div class="my-boo-btn my-boo-bg-white cerulean my-boo-font-weight-bold font-1-2 my-boo-px-5 rounded-1-5 my-4">
      <a href="/register">Get Started</a>
    </div>
  </section>
</div>

<!-- POWER OF LEARNING SECTION -->
<div id="power" class="fluid-container my-boo-py-5 my-boo-px-2 my-boo-px-sm-1">
  <h1 class="title-2 my-boo-text-center">We believe in the <label class="cerulean my-boo-font-weight-bold">power of learning.</label></h1>
  <p class="my-boo-text-center my-boo-text-secondary font-1-2 my-boo-px-2 my-boo-font-weight-light">Through careful construction of courses and collaboration with industry partners,<br>Coursebank offers an interactive and convenient learning atmosphere for everybody.</p>
  <div class="my-boo-my-5 my-boo-px-1 my-boo-px-sm-2 my-boo-px-md-2 my-boo-px-lg-5">
    <div class="my-boo-row">
      <div class="my-boo-col my-boo-col-sm-9 my-boo-col-md-7 my-boo-col-xl-4 my-boo-px-4 my-boo-my-lg-4 my-boo-mx-sm-auto">
        <section class="reason-sec my-boo-position-relative my-boo-text-white parent-that-centers-vertically">
          <figure class="tint-reason">
            <img class="my-boo-rounded-circle" src="${static.url('images/mymain/04-1.jpg')}" alt="reason">
          </figure>
          <h2 class="title-2 my-boo-ml-3 my-boo-ml-sm-2 my-boo-ml-md-0 power-text-center">Coursework</h2>
          <p class="my-boo-position-absolute my-boo-text-center my-boo-fixed-bottom">Hover for more <i class="fas fa-angle-right font-1-5 my-boo-align-middle"></i></p>
          <section class="my-boo-position-absolute my-boo-fixed-top my-boo-text-left hover-content my-boo-h-100 my-boo-px-5 my-boo-py-2 parent-that-centers-vertically">
            <h2 class="font-1-5">Coursework</h2>
            <p class="font-1-2">Self-paced learning featuring pre-recorded videos, assessments, projects, and other interactive learning experiences.</p>
          </section>
        </section>
      </div>
      <hr class="my-boo-my-5 my-boo-d-xl-none my-boo-w-100">
      <div class="my-boo-col my-boo-col-sm-9 my-boo-col-md-7 my-boo-col-xl-4 my-boo-px-4 my-boo-my-lg-4 my-boo-mx-sm-auto">
        <section class="reason-sec my-boo-position-relative my-boo-text-white parent-that-centers-vertically">
          <figure class="tint-reason">
            <img class="my-boo-rounded-circle" src="${static.url('images/mymain/04-2.jpg')}" alt="reason">
          </figure>
          <h2 class="title-2 my-boo-ml-3 my-boo-ml-sm-2 my-boo-ml-md-0 power-text-center">Student Support</h2>
          <p class="my-boo-position-absolute my-boo-text-center my-boo-fixed-bottom">Hover for more <i class="fas fa-angle-right font-1-5 my-boo-align-middle"></i></p>
          <section class="my-boo-position-absolute my-boo-fixed-top my-boo-text-left hover-content my-boo-h-100 my-boo-px-5 my-boo-py-2 parent-that-centers-vertically">
            <h2 class="font-1-5">Student Support</h2>
            <p class="font-1-2 my-boo-font-weight-light">Connect with your peers and other professionals online to discuss, debate, and gain mastery of topics.</p>
          </section>
        </section>
      </div>
      <hr class="my-boo-my-5 my-boo-d-xl-none my-boo-w-100">
      <div class="my-boo-col my-boo-col-sm-9 my-boo-col-md-7 my-boo-col-xl-4 my-boo-px-4 my-boo-my-lg-4 my-boo-mx-sm-auto">
        <section class="reason-sec my-boo-position-relative my-boo-text-white parent-that-centers-vertically">
          <figure class="tint-reason">
            <img class="my-boo-rounded-circle" src="${static.url('images/mymain/04-3.jpg')}" alt="reason">
          </figure>
        <h2 class="title-2 my-boo-ml-3 my-boo-ml-sm-2 my-boo-ml-md-0 power-text-center">CPD &#38; Credentials</h2>
        <p class="my-boo-position-absolute my-boo-text-center my-boo-fixed-bottom">Hover for more <i class="fas fa-angle-right font-1-5 my-boo-align-middle"></i></p>
        <section class="my-boo-position-absolute my-boo-fixed-top my-boo-text-left hover-content my-boo-h-100 my-boo-px-5 my-boo-py-2 parent-that-centers-vertically">
          <h2 class="font-1-5">CPD &#38; Credentials</h2>
          <p class="font-1-2 my-boo-font-weight-light">Earn certificate and CPD units upon completion from accredited providers by the Professional Regulatory Board.</p>
        </section>
      </section>
    </div>
  </div>
</div>

</div>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
