## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>

% if mktg_site_enabled:
<li>
  <a href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
</li>
% if courses_are_browsable:
<li>
  <a href="${marketing_link('COURSES')}">${_("Courses")}</a>
</li>
% endif
<li>
  <a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
</li>
% endif
% if allows_login:
  % if can_discover_courses:
  <li>
    <a class="nav-link my-boo-mx-lg-5 my-boo-px-2" href="/courses" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
  %endif
% endif
</li>
<!-- <li>
  <a class="nav-link my-boo-mx-lg-5 my-boo-px-2" href="#">Partners</a>
</li> -->
<li class="parent-that-centers-vertically"><label class="border-spacing-right my-boo-d-none my-boo-d-md-none my-boo-d-lg-block my-boo-d-xl-block my-boo-mx-5 my-boo-mb-0 my-boo-h-75">&nbsp;</label></li>
% if allows_login:
  % if restrict_enroll_for_course:
  <li>
    <a class="nav-link waves-effect waves-light my-boo-px-2 my-boo-mx-lg-5 my-boo-text-nowrap" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Pre-Register")}</a>
  </li>
  <li>
    <a class="nav-link waves-effect waves-light my-boo-px-2 my-boo-mx-lg-5 my-boo-text-nowrap" href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}">${_("Log in")}</a>
  </li>
  % else:
    % if allow_public_account_creation:
      <li>
        <a class="nav-link waves-effect waves-light my-boo-px-2 my-boo-mx-lg-5 my-boo-text-nowrap" href="/register${login_query()}">${_("Pre-Register")}</a></a>
      </li>
    % endif
    <li>
      <a class="nav-link waves-effect waves-light my-boo-px-2 my-boo-mx-lg-5 my-boo-text-nowrap" href="/login${login_query()}">${_("Log in")}</a>
    </li>
  % endif
% endif
